<div class="container">
 <h2>投稿詳細</h2>

   <table class="table">
     <thead>
       <tr>
         <th class="col-1">投稿日</th>
         <th class="col-1">名前</th>
         <th class="col-2">タイトル</th>
         <th class="col-3">内容</th>
         <th class="col-1">いいね❤️</th>
         <th class="col-1">コメント💬</th>
       </tr>
     </thead>
       <tr>
         <td class="col-1"><%= @tweet.created_at.strftime("%m-%d %H:%M") %></td>
         <td class="col-1"><%= link_to admin_user_path(@tweet.user.id) do %>
             <%= image_tag @tweet.user.get_profile_image(50,50) %><br>
             <%= @tweet.user.name %>
             <% end %>
         </td>
         <td class="col-2"><%= @tweet.title %></td>
         <td class="col-3"><%= @tweet.body %></td>
         <td class="col-1"><%= @tweet.favorites.count %>件</td>
         <td class="col-1">コメント<%= @comment.count %>件</td>
       </tr>
    </table>
      <div>
         <%= link_to "投稿を削除します", admin_tweet_path(@tweet), method: :delete, class: "btn btn-danger" %>
      </div>
     <h4 class="mt-3">コメント</h4>
      <div class="comment-area">
          <%= render "admin/tweets/comment", tweet: @tweet, post_comment: @comment %>
      </div>
