<div class="container">
  <h3>フォロワー一覧</h3>
        <table class="table">
         <thead>
          <tr>
            <th>名前</th>
            <th colspan="3"></th>
          </tr>
         </thead>
         <tbody>
           <% if @users.exists? %>
           <% @users.each do |user| %>
          <tr>
            <td clas="col-1"><%= link_to user_path(user.id) do %>
              <%= image_tag user.get_profile_image(50,50) %>
              <%= user.name %>
              <% end %>
              </td>
            <td>フォロー数: <%= user.followings.count %></td>
            <td>フォロワー数: <%= user.followers.count %></td><br>
          </tr>
         </tbody>
        <% end %>
       </table>
    <% else %>
      <p>会員はいません</p>
  <% end %>
</div>