<div class="container">
  <div class="row">
  <h4>検索結果</h4>
    <table class="table table-hover table-inverse">
      <!--検索対象モデルがUserの時 -->
    <% if @range == "User" %>
      <thead>
        <tr>
          <th>画像</th>
          <th>名前</th>
          <th>紹介文</th>
          <th>フォロワー数</th>
        </tr>
      </thead>
     <tbody>
       <% @users.each do |user| %>
         <tr>
           <td><%= link_to user_path(user.id) do %>
             <%= image_tag user.get_profile_image(100,100) %>
             <% end %>
             </td>
           <td><%= link_to user.name, user_path(user.id) %></td>
           <td><%= user.introduction %></td>
           <td>フォロワー<%= user.followers.count %>人</td>
         </tr>
        <% end %>
       </tbody>
        <% else %>
     <!--検索対象モデルがUserではなくTweetの時-->
      <thead>
        <tr>
          <th>投稿者</th>
          <th>タイトル</th>
          <th>投稿内容</th>
          <th>いいね数</th>
          <th>コメント</th>
        </tr>
      </thead>
       <tbody>
        <% @tweets.each do |tweet| %>
         <tr>
           <td><%= link_to tweet.user.name, user_path(tweet.user.id) %></td>
           <td><%= link_to tweet_path(tweet.id) do %>
             <%= tweet.title %>
             <% end %>
             </td>
           <td><%= tweet.body %></td>
           <td>❤<%= tweet.favorites.count %></td>
           <td>コメント<%= tweet.post_comments.count %>件</td>
         </tr>
        <% end %>
       </tbody>
      <% end %>
    </table>
  </div>
</div>