
<div class="container">
 <h2 class="mb-3">投稿一覧</h2>

 <table class="table table-striped mt-3">
   <thead>
     <tr>
       <th class="col-2">投稿日</th>
       <th class="col-1">会員画像</th>
       <th class="col-2">タイトル</th>
       <th class="text-center col-3">内容</th>
       <th>いいね❤️</th>
       <th>コメント💬</th>
       <th>閲覧数👀</th>
     </tr>
   </thead>
   <tbody>
     <% @tweets.each do |tweet| %>
     <tr>
       <td><%= tweet.created_at.strftime("%Y/%m/%d %H:%M") %></td>
       <td><%= link_to user_path(tweet.user.id) do %>
       <%= image_tag tweet.user.get_profile_image(50,50) %>
       </td>
       <% end %>
       <td>
         <%= link_to tweet.title,tweet %>
      </td>
      <td><%= tweet.body %></td>
      <td>❤<%= tweet.favorites.count %></td>
      <td>
          <%= link_to "コメント #{ tweet.post_comments.count}件", tweet_path(tweet.id) %>
      </td>
      <!--<td>👀<%#= tweet.view_counts %></td>-->
      <% end %>
     </tr>
   </tbody>
  </table>
 </div>

