
<div class="container">
 <h2 class="mb-3">投稿一覧</h2>

 <table class="table mt-3">
   <thead>
     <tr>
       <th class="col-2">会員画像</th>
       <th class="col-2">タイトル</th>
       <th class="text-center col-4">内容</th>
       <th>いいね❤️</th>
       <th>コメント💬</th>
     </tr>
   </thead>
   <tbody>
     <% @tweets.each do |tweet| %>
     <tr>
       <td><%= link_to user_path(tweet.user.id) do %>
       <%= image_tag tweet.user.get_profile_image(100,100) %>
       </td>
       <% end %>
       <td>
         <%= link_to tweet.title,tweet %>
      </td>
      <td><%= tweet.body %></td>
      <td><%= "いいね機能" %></td>
      <td><%= "コメント機能" %></td>
      <% end %>
     </tr>
   </tbody>
  </table>
 </div>

