<main>
<div class="container">
  <h2>投稿詳細</h2>

    <table class="table">
     <thead>
       <tr>
         <th class="col-2">名前</th>
         <th class="col-2">タイトル</th>
         <th class="col-3">内容</th>
         <th class="col-1">いいね❤️</th>
         <th class="col-1">コメント💬</th>
       </tr>
     </thead>
       <tr>
         <td><%= link_to user_path(@tweet.user.id) do %>
             <%= image_tag @tweet.user.get_profile_image(100,100) %><br>
             <%= @tweet.user.name %>
             <% end %>
         </td>
         <td><%= link_to @tweet.title, @tweet %></td>
         <td><%= @tweet.body %></td>
         <td><%= "いいね機能" %></td>
         <td><%= "コメント機能" %></td>
       </tr>
    </table>
    <div>
          <% if @tweet.user == current_user %>
           <%= link_to "投稿編集", edit_tweet_path(@tweet), class: "btn btn-success" %>
           <%= link_to "投稿削除", tweet_path(@tweet.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger" %>
          <% end %>
    </div>
</div>
</main>