
  <div class="col-6">
   <h5>👑いいね数ランキング👑</h5>
        <!--配列の1つ目から順に1位、２位と表示される-->
          <% favorite_ranks.each.with_index(1) do |favorite, i| %>
            <table class="table table-warning">
             <tbody>
               <tr>
                 <th class="col-2">👑第<%= i %>位</th>
                 <td class="col-2"><%= favorite.user.name %></td>
                 <td class="col-2"><%= link_to favorite.title, tweet_path(favorite.id) %></td>
                 <td class="col-2">❤️<%= favorite.favorites.count %></td>
               </tr>
               <% end %>
             </tbody>
            </table>
           </div>

           <div class="col-6">
             <h5>👑フォロワーランキング👑</h5>
               <% followers_ranks.each.with_index(1) do |followers, i| %>
                <table clas="table table-warning">
                 <tbody>
                  <tr class="col-2">
                   <th>👑第<%= i %>位</th>
                    <td>　　<%= link_to followers.name,user_path(followers.id) %></td>
                    <td>　🙆‍♂️<%= followers.followers.count %>人</td>
                   </tr>
                    <% end %>
                 </tbody>
               </table>
            </div>
