<% tweet.post_comments.each do |comment| %>
    <table class= "table">
       <tbody>
        <tr>
         <td class="col-1"><%= image_tag comment.user.get_profile_image(40,40) %></td>
         <td class="col-2"><%= link_to user_path(tweet.user.id) do %>
            <%= comment.user.name %></td>
         <% end %>
         <td class="col-3"><%= comment.comment %></td><br>
         <% if comment.user == current_user %>
         <td class="col-1"><%= link_to "Destroy", tweet_post_comment_path(comment.tweet, comment), method: :delete, class: "btn btn-sm btn-danger" %></td><br>
         <% end %>
         <% end %>
       </tr>
      </tbody>
   </table>