<div class="container ml-5">
<h2 class="mt-5">ログイン</h2>

<%= form_with model: @user, url: user_session_path do |f| %>

 <div class="row mt-4">
    <p class="col-md-3">メールアドレス</p>
    <div class="field col-md-9">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
 </div>

  <div class="row mt-4">
    <p class="col-md-3">パスワード</p>
    <div class="field col-md-9">
    <%= f.password_field :password, autocomplete: "current-password" %>
   </div>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<%= render "public/shared/links" %>

</div>
