<div class="container">
<h2>会員一覧</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-2">会員画像</th>
      <th class="col-2">名前</th>
      <th class="text-center">紹介文</th>
      <th>フォロワー数</th>
      <th>詳細ページ</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td>
        <%= image_tag user.get_profile_image(100,100) %>
      </td>
      <td><%= user.name %></td>
      <td><%= user.introduction %></td>
      <td><%= user.followers.count %></td>
      <td>
        <%= link_to "詳細", user_path(user.id), class: "btn btn-primary" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>